
.btn-primary {
  color: white;
  border-color: #F05F40;
  background-color: rgb(52,58,64); }

  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #a4270d;
    background-color: #eb3812; }
  
  .btn-primary:hover {
    color: white;
    border-color: #e13612;
    background-color: #eb3812; }
  
  .btn-primary.active, .btn-primary:active,
  
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #e13612;
    background-color: #eb3812; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #a4270d;
      background-color: #c93110; }
  
  .btn-primary.active, .btn-primary:active,
  
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #F05F40;
    background-color: #F05F40; }
  
  .btn-primary .badge {
    color: #F05F40;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif; }
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }*/





.btn-xl {
  padding: 15px 30px; }
