<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Website Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An Open-source Framework for Knowledge Embedding.">
    <meta name="author" content="THUNLP">
    <!-- Website Title -->
    <title>OpenKE - An Open-source Framework for Knowledge Embedding.</title>
    <!-- Bootstrap core CSS -->
    <link href="{{{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}}}" rel="stylesheet">
    <link href="{{{{url_for('static', filename='css/simple-sidebar.css')}}}}" rel="stylesheet">
</head>

<body>

    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper" style="background-color:rgb(52,58,64);">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h2 style="color:rgb(255,255,255);margin-top:30px;margin-bottom:30px;">
                        Downloads
                    </h2>
                </li>
                <li>
                    <a href="#benchmarks">Benchmarks</a>
                </li>
                <li>
                    <a href="#openke">OpenKE</a>
                </li>
                <li>
                    <a href="#kb2e">KB2E</a>
                </li>
                <li>
                    <a href="#fast-transx">Fast-TransX</a>
                </li>
                <li>
                    <a href="#pretrained">Pretrained Embeddings</a>
                </li>
                <li>
                    <a href="/home">Back to Home</a>
                </li>
            </ul>

            <footer class="py-5" style="margin-top:600px;">
              <div class="container">
                <p class="m-0 text-center text-white" style="text-align:left;">&copy; 2017. <a href="http://thunlp.org/site2/index.php/zh" target="_Blank" style="text-align:left;">THUNLP</a> All rights reserved.</p>
              </div>
            </footer>
        </div>


        <div id="benchmarks" style="padding:40px;position:relative;">
            <div class="container-fluid">
                <h1>Benchmarks</h1>
                <hr/>
                <br/>
                <p style="font-size:20px;font-weight:300;">
                    Some datasets are usually used as benchmarks for knowledge embedding, including FB15K, FB13, WN18 and WN11. We provide <a href="https://github.com/thunlp/OpenKE/tree/master/benchmarks" target="_blank"> FB15K and WN18 </a> as examples to introduce the format of input files for our framework. These datasets are also used for the link prediction evaluation.
                </p>
                <p style="font-size:20px;font-weight:300;">
                    Datasets are required in the following format, containing five files:
                </p>
                <li style="font-size:20px;font-weight:300;">
                    <b>train.txt : </b> the training file in a format with (e1, e2, rel) per line, the first line is the number of triples.
                </li>
                <li style="font-size:20px;font-weight:300;">
                    <b>valid.txt : </b> the validation file, same format as train.txt
                </li>
                <li style="font-size:20px;font-weight:300;">
                    <b>test.txt : </b> the test file, same format as train.txt.
                </li>
                <li style="font-size:20px;font-weight:300;">
                    <b>entity2id.txt : </b> all entities and corresponding ids, one per line.
                </li>
                <li style="font-size:20px;font-weight:300;">
                    <b>relation2id.txt: </b> all relations and corresponding ids, one per line.
                </li>
                <br/>
                <p style="font-size:20px;font-weight:300;">The original data can also be downloaded from:</p>
                <p style="font-size:20px;font-weight:300;">
                    FB15K, WN18 are published by "Translating Embeddings for Modeling Multi-relational Data (2013)."
                    <a href="https://everest.hds.utc.fr/doku.php?id=en:transe" target="_blank"> [download] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    FB13, WN11 are published by "Reasoning With Neural Tensor Networks for Knowledge Base Completion". 
                    <a href="http://cs.stanford.edu/~danqi/data/nips13-dataset.tar.bz2" target="_blank"> [download] </a>
                </p>
                <!-- <a href="https://github.com/thunlp/TensorFlow-TransX" target="_blank" class="btn btn-secondary">Download</a> -->
            </div>
        </div>

        <div id="openke" style="padding:40px;position:relative;">
            <div class="container-fluid">
                <h1>OpenKE</h1>
                <hr/>
                <br/>
                <p style="font-size:20px;font-weight:300;">
                    This is an Efficient implementation based on TensorFlow for knowledge representation learning (KRL). We use C++ to implement some underlying operations such as data preprocessing and negative sampling. For each specific model, it is implemented by TensorFlow with Python interfaces so that there is a convenient platform to run models on GPUs.
                </p>
                <p style="font-size:20px;font-weight:300;">
                    OpenKE provides simple interfaces to train and test various KRL models, which does not need too much efforts for redundant data processing and memory control. OpenKE has implemented some classic and effective models to support knowledge embedding, these models include:                    
                </p>
                <ul>
                      <li style="font-size:20px;font-weight:300;">TransE <a href="http://papers.nips.cc/paper/5071-translating-embeddings-for-modeling-multi-relational-data.pdf" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">TransH <a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI14/paper/viewFile/8531/8546" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">TransR <a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI15/paper/viewFile/9571/9523/" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">TransD <a href="http://anthology.aclweb.org/P/P15/P15-1067.pdf" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">RESCAL <a href="http://www.icml-2011.org/papers/438_icmlpaper.pdf" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">DistMult <a href="https://arxiv.org/pdf/1412.6575.pdf" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">HolE <a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI16/paper/viewFile/12484/11828" target="_Blank">[paper]</a></li>
                      <li style="font-size:20px;font-weight:300;">ComplEx <a href="http://proceedings.mlr.press/v48/trouillon16.pdf" target="_Blank">[paper]</a></li>
                </ul>
                <p style="font-size:20px;font-weight:300;">                                
                    We provide <a href="#">tutorials</a> for training these models. Additonally, we use some simple examples to show how to build a new model based on OpenKE.
                </p>

                <a href="https://github.com/thunlp/OpenKE" target="_blank" class="btn btn-secondary">GitHub</a>
            </div>
        </div>

        <div id="kb2e" style="padding:40px;position:relative;">
            <div class="container-fluid">
                <h1>KB2E</h1>
                <hr/>
                <br/>
                <p style="font-size:20px;font-weight:300;">
                    This is a basic and stable knowledge graph embedding toolkit, including TransE, TransH, TransR and PTransE. The toolkit implementation comforms to the original paper setting of these models. It is a stable toolkit for experiments in research works.
                </p>
                <br/>
                <h3>Evaluation Results on FB15K</h3>
                <br/>
                <p>Server Details : Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz, 1Tb Mem.<p/>
                                <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                <th align="left">Model</th>
                                <th align="left">MeanRank(Raw)</th>
                                <th align="left">MeanRank(Filter)</th>
                                <th align="left">Hit@10(Raw)</th>
                                <th align="left">Hit@10(Filter)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td align="left">TransE(paper)</td>
                                <td align="left">243</td>
                                <td align="left">125</td>
                                <td align="left">34.9</td>
                                <td align="left">47.1</td>
                                </tr>
                                <tr>
                                <td align="left">TransH(paper)</td>
                                <td align="left">212</td>
                                <td align="left">87</td>
                                <td align="left">45.7</td>
                                <td align="left">64.4</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-TransR(n=50)</td>
                                <td align="left">198</td>
                                <td align="left">77</td>
                                <td align="left">48.2</td>
                                <td align="left">68.7</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-TransE(Our, n=50)</td>
                                <td align="left">210</td>
                                <td align="left">82</td>
                                <td align="left">41.9</td>
                                <td align="left">61.3</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-TransE(Our, n=100)</td>
                                <td align="left">205</td>
                                <td align="left">63</td>
                                <td align="left">47.9</td>
                                <td align="left">70.2</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-PTransE (ADD, 2-step)</td>
                                <td align="left">200</td>
                                <td align="left">54</td>
                                <td align="left">51.8</td>
                                <td align="left">83.4</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-PTransE (MUL, 2-step)</td>
                                <td align="left">216</td>
                                <td align="left">67</td>
                                <td align="left">47.4</td>
                                <td align="left">77.7</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-PTransE (RNN, 2-step)</td>
                                <td align="left">242</td>
                                <td align="left">92</td>
                                <td align="left">50.6</td>
                                <td align="left">82.2</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-PTransE (ADD, 3-step)</td>
                                <td align="left">207</td>
                                <td align="left">58</td>
                                <td align="left">51.4</td>
                                <td align="left">84.6</td>
                                </tr>
                                </tbody>
                                </table>
                        <br/>
                        <h3>Evaluation Results on WN18</h3>
                        <br/>
                        <p>Server Details : Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz, 1Tb Mem.<p/>
                                <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                <th align="center">Model</th>
                                <th align="center">MeanRank(Raw)</th>
                                <th align="center">MeanRank(Filter)</th>
                                <th align="center">Hit@10(Raw)</th>
                                <th align="center">Hit@10(Filter)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td align="left">TransE(paper)</td>
                                <td align="left">263</td>
                                <td align="left">251</td>
                                <td align="left">75.4</td>
                                <td align="left">89.2</td>
                                </tr>
                                <tr>
                                <td align="left">TransH(paper)</td>
                                <td align="left">318</td>
                                <td align="left">303</td>
                                <td align="left">75.4</td>
                                <td align="left">86.7</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-TransR</td>
                                <td align="left">238</td>
                                <td align="left">225</td>
                                <td align="left">79.8</td>
                                <td align="left">92.0</td>
                                </tr>
                                <tr>
                                <td align="left">KB2E-TransE</td>
                                <td align="left">251</td>
                                <td align="left">239</td>
                                <td align="left">78.9</td>
                                <td align="left">89.8</td>
                                </tr>
                                </tbody>
                                </table>
                <a href="https://github.com/thunlp/KB2E" target="_blank" class="btn btn-secondary">GitHub</a>
            </div>
        </div>

        <div id="fast-transx" style="padding:40px;position:relative;">
            <div class="container-fluid">
                <h1>Fast-TransX</h1>
                <hr/>
                <br/>
                <p style="font-size:20px;font-weight:300;">

                    This is an efficient lightweight implementation of TransE and its extended models for knowledge representation learning, including TransH, TransR, TransD, TranSparse and PTransE. The overall framework has underlying design changes for acceleration and supports multi-threading training. Fast-TransX is designed for simple and quick deployment utilizing the framework of OpenKE.
                </p>
                <br/>
                <h3>Evaluation Results on FB15K</h3>
                <br/>
                <p>Server Details : Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz, 1Tb Mem.<p/>
                                <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                <th>Model</th>
                                <th align="center">MeanRank(Raw)</th>
                                <th align="center">MeanRank(Filter)</th>
                                <th align="center">Hit@10(Raw)</th>
                                <th align="center">Hit@10(Filter)</th>
                                <th align="center">Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>KB2E-TransE (n=50, rounds=1000)</td>
                                <td align="left">210</td>
                                <td align="left">82</td>
                                <td align="left">41.9</td>
                                <td align="left">61.3</td>
                                <td align="left">3587s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransE (n=50, threads=8, rounds=1000)</td>
                                <td align="left">205</td>
                                <td align="left">69</td>
                                <td align="left">43.8</td>
                                <td align="left">63.5</td>
                                <td align="left">42s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransH (n=50, threads=8, rounds=1000)</td>
                                <td align="left">202</td>
                                <td align="left">67</td>
                                <td align="left">43.7</td>
                                <td align="left">63.0</td>
                                <td align="left">178s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransR (n=50, threads=8, rounds=1000)</td>
                                <td align="left">196</td>
                                <td align="left">73</td>
                                <td align="left">48.8</td>
                                <td align="left">69.8</td>
                                <td align="left">1572s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransD (n=100, threads=8, rounds=1000)</td>
                                <td align="left">236</td>
                                <td align="left">95</td>
                                <td align="left">49.9</td>
                                <td align="left">75.2</td>
                                <td align="left">231s</td>
                                </tr></tbody></table>
                        <br/>
                        <h3>Evaluation Results on WN18</h3>
                        <br/>
                        <p>Server Details : Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz, 1Tb Mem.<p/>
                                <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                <th>Model</th>
                                <th align="center">MeanRank(Raw)</th>
                                <th align="center">MeanRank(Filter)</th>
                                <th align="center">Hit@10(Raw)</th>
                                <th align="center">Hit@10(Filter)</th>
                                <th align="center">Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>KB2E-TransE (n=50, rounds=1000)</td>
                                <td align="left">251</td>
                                <td align="left">239</td>
                                <td align="left">78.9</td>
                                <td align="left">89.8</td>
                                <td align="left">1674s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransE (n=50, threads=8, rounds=1000)</td>
                                <td align="left">273</td>
                                <td align="left">261</td>
                                <td align="left">71.5</td>
                                <td align="left">83.3</td>
                                <td align="left">12s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransH (n=50, threads=8, rounds=1000)</td>
                                <td align="left">285</td>
                                <td align="left">272</td>
                                <td align="left">79.8</td>
                                <td align="left">92.5</td>
                                <td align="left">121s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransR (n=50, threads=8, rounds=1000)</td>
                                <td align="left">284</td>
                                <td align="left">271</td>
                                <td align="left">81.0</td>
                                <td align="left">94.6</td>
                                <td align="left">296s</td>
                                </tr>
                                <tr>
                                <td>Fast-TransD (n=100, threads=8, rounds=1000)</td>
                                <td align="left">309</td>
                                <td align="left">297</td>
                                <td align="left">78.5</td>
                                <td align="left">91.9</td>
                                <td align="left">201s</td>
                                </tr></tbody></table>

                <a href="https://github.com/thunlp/Fast-TransX" target="_blank" class="btn btn-secondary">GitHub</a>
            </div>
        </div>


        <div id="pretrained" style="padding:40px;position:relative;">
            <div class="container-fluid">
                <h1>Pretrained Embeddings</h1>
                <hr/>
                <br/>
                <p style="font-size:20px;font-weight:300;">
                    Available pretrained embeddings of the existing large-scale knowledge graphs trained using OpenKE (These are all currently trained via TransE. More models will come if necessary).
                </p>
                <br/>
                <h3>Wikidata</h3>
                <br/>
                <p style="font-size:20px;font-weight:300;">
                    <b> Embeddings of the entities: </b> The embeddings for each entity(item) in the Wikidata. The data are in a binary format with one embedding per line. For each line, there are numbers of consecutive float to represent its embedding. 
                    <a  href="https://pan.baidu.com/s/1i5QNmJz" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    <b class="media-heading">Entity2id :</b> The mapping from entities(item) of the Wikidata to their corresponding serial numbers. For each line, there is an entity and its serial number split by a tab.
                    <a  href="https://pan.baidu.com/s/1o76JWNK" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    <b>Embeddings of the relations: </b>
                    The embeddings for each relation(property) in the Wikidata. The data are in a binary format with one embedding per line. For each line, there are numbers of consecutive float to represent its embedding.
                    <a href="https://pan.baidu.com/s/1kUNLf8r" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    <b class="media-heading">Relation2id :</b> The mapping from relaitons(property) of the Wikidata to their corresponding serial numbers. For each line, there is a relation and its serial number split by a tab. <a  href="https://pan.baidu.com/s/1o76JWNK" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    Here are the dumps of the Wikidata. If necessary, you can click
                                    <a href = "https://www.wikidata.org" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};">
                                        Wikidata
                                    </a> for more information.
                </p>
                <a href="https://dumps.wikimedia.org/wikidatawiki/entities/" target="_blank" class="btn btn-secondary">Download Dumps</a>
                <br/>
                <br/>
                <h3>Freebase</h3>
                <br/>
                <p style="font-size:20px;font-weight:300;">
                    <b> Embeddings of the entities: </b> The embeddings for each entity(item) in the Freebase. The data are in a binary format with one embedding per line. For each line, there are numbers of consecutive float to represent its embedding. 
                    <a  href="https://pan.baidu.com/s/1i5ioApv" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    <b class="media-heading">Entity2id :</b> The mapping from entities(item) of the Freebase to their corresponding serial numbers. For each line, there is an entity and its serial number split by a tab.
                    <a  href="https://pan.baidu.com/s/1qYdqDXE" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    <b>Embeddings of the relations: </b>
                    The embeddings for each relation(property) in the Freebase. The data are in a binary format with one embedding per line. For each line, there are numbers of consecutive float to represent its embedding.
                    <a href="https://pan.baidu.com/s/1i5ioApv" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    <b class="media-heading">Relation2id :</b> The mapping from relaitons(property) of the Freebase to their corresponding serial numbers. For each line, there is a relation and its serial number split by a tab. <a  href="https://pan.baidu.com/s/1qYdqDXE" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};"> [data] </a>
                </p>
                <p style="font-size:20px;font-weight:300;">
                    Here are the dumps of the Freebase. If necessary, you can click
                                    <a href = "https://developers.google.com/freebase/" target="_blank" style="text-decoration:none; hover{TEXT-DECORATION:underline};">
                                        Freebase
                                    </a> for more information.
                </p>
                <a href="http://commondatastorage.googleapis.com/freebase-public/rdf/freebase-rdf-latest.gz?" target="_blank" class="btn btn-secondary">Download Dumps</a>
            </div>
        </div>



    </div>

    <script src="{{{{url_for('static', filename='jquery/jquery.min.js')}}}}"></script>
    <script src="{{{{url_for('static', filename='popper/popper.min.js')}}}}"></script>
    <script src="{{{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}}}"></script>

</body>

</html>
